@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
    /* Your touch-specific css goes here */
    #DeviceSingleDivOverride{
        /* background-color:rgb(255, 165, 115); */
        max-width: 100%;
        min-width: 90%;
    }
}
@media only screen and (min-resolution: 165dpi) and (max-resolution: 168dpi), only screen and (min-resolution: 155dpi) and (max-resolution: 160dpi), only screen and (min-resolution: 134dpi) and (max-resolution: 144dpi), only screen and (min-resolution: 120dpi) and (max-resolution: 130dpi), only screen and (max-resolution: 116dpi) {
    /* Your click-specific css goes here */
    #DeviceSingleDivOverride{
        /* background-color:rgb(255, 89, 0); */
        max-width: 70%;
        min-width: 65%;
    }
}

.CCenteredSingleDiv
{
    clear: both;
    /* width: 100%; */
    /* max-width: 70%; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(255, 250, 240,  0.065);
}
.CCenteredSingleDiv img
{
    display: block;
    /* width: auto; */
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 1.57%;
    max-width: 77%;
    max-height: auto;
}
.CCenteredSingleDiv h3
{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}
.CCenteredSingleDiv h2
{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}
.CCenteredSingleDiv p
{
    text-align: left;
    word-break:keep-all;
    max-width: 77%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.CCenteredSingleDiv iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 77%;
    min-height: 50%;
    max-height: auto;
    /* height: auto; */
}
.CCenteredSingleDiv video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 77%;
    height: auto;
    border-radius: 1.57%;
}
.CCenteredSingleDiv ul{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 77%;
    max-height: auto;
}

.CCenteredSingleDivIFrameOverride
{
    clear: both;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(255, 250, 240,  0.065);
}
.CCenteredSingleDivIFrameOverride iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.CCenteredSingleDivNoBorder
{
    clear: both;
    /* width: 70%; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.CCenteredSingleDivNoBorder img
{
    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 1.57%;
    max-width: 77%;
    max-height: auto;
}
.CCenteredSingleDivNoBorder h3
{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}
.CCenteredSingleDivNoBorder h2
{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}
.CCenteredSingleDivNoBorder p
{
    text-align: left;
    word-break:keep-all;
    max-width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.CCenteredSingleDivNoBorder iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 77%;
    max-height: 77%;
}
.CCenteredSingleDivNoBorder ul{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
    max-height: 100%;
}
.CCenteredSingleDivNoBorder video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 77%;
    max-height: auto;
    border-radius: 1.57%;
}