.CCenteredSmallImageDiv{
    clear:both;
    float: center;
    /* width: 50%; */
    height:auto;
    min-width: 33%;
    margin-left: auto;
    margin-right: auto;
} 
.CCenteredSmallImageDiv img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    border-radius: 12%;
    max-width: 50%;
    /* max-height: 50%; */
    max-width: 33%;
    max-height: 33%;
    height:auto;
}