.CFooter
{
    padding: 10px;
    /* width: 960px; */
    width: 50%;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    margin-bottom:0px;
}
.CFooter img{
    width: 32px;
    height: 32px;
}