

.CHeader
{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 250, 240, 0.065);
    text-align: center;
    padding: 10px;
    /* color: rgba(255, 167, 116, 0.712); */
    color: rgb(250, 237, 211);
}


.CHeader p
{
    text-align: left;
    word-break:keep-all;
    max-width: 77%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.CHeader img{
    width: 32px;
    height: 32px;
    padding: 1px;
}

.CHeader a{
    margin-right: 0.1%;
    text-transform: uppercase;
    text-align: center;
    /* color: rgb(255, 165, 115); */
}

@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
    /* Your touch-specific css goes here */
    #BreakLineAfter::after{
        content: "\a";
        white-space: pre;
        margin-bottom: 0.5%;
    }
}
@media only screen and (min-resolution: 165dpi) and (max-resolution: 168dpi), only screen and (min-resolution: 155dpi) and (max-resolution: 160dpi), only screen and (min-resolution: 134dpi) and (max-resolution: 144dpi), only screen and (min-resolution: 120dpi) and (max-resolution: 130dpi), only screen and (max-resolution: 116dpi) {
    /* Your click-specific css goes here */
    #BreakLineAfter::after{
        content: "\00a0\00a0\00a0\00a0";
        white-space:post;
    }
}

.CHeaderMain
{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 250, 240, 0.065);
    text-align: center;
    padding: 10px;
    /* color: rgba(255, 167, 116, 0.712); */
    color: rgb(250, 237, 211);
}
.CHeaderMain a{
    margin-right: 0.1%;
    text-align: center;
    color: rgb(250, 237, 211);
}

.CHeaderMain img{
    width: 32px;
    height: 32px;
    padding: 1px;
}