html, body
{
    /* background-color:rgb(75, 56, 49); */
    
    /* background-color:slategrey; */
    /*Darker slategrey*/
    /* background-color:rgb(77, 88, 98); */
    
    background-color: rgb(2, 8, 19);
    /* background-color:rgb(74, 94, 112); */
    /* background-color:rgb(48, 48, 105);  */
    font-family: Cambria, Arial, sans-serif;
    height: 100%;
    color: rgb(250, 237, 211);
}

* 
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: rgb(255, 165, 115);
}

code 
{
    background-color: rgba(121, 121, 121, 0.322);
}

h1, h2, h3{
    margin: 0;
    color: rgb(250, 237, 211);
}

.CPageContent
{
    /* background-color: rgb(132, 145, 158); */
    background-color: rgba(255, 255, 255, 0.144);
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.CHeader
{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 250, 240, 0.065);
    text-align: center;
    padding: 10px;
    /* color: rgba(255, 167, 116, 0.712); */
    color: rgb(250, 237, 211);
}
.CHeader a{
    margin-right: 1%;
    text-transform: uppercase;
    /* color: rgb(255, 165, 115); */
}

.CSelected
{
    font-weight: bold;
    /* font-size: 125%; */
}

.CCenteredLargeText
{
    clear:both;
    margin: auto;
    padding:1% 0% 1% 0%;
    width: 75%;
    float: center;
    text-align: center;
    font-size: 110%;
    margin-bottom: 3%;
    border-bottom: 1px solid rgba(255, 250, 240,  0.065);
}
.CCenteredLargeText p{
    margin-bottom: 3%;;
}
.CCenteredLargeText a{
    margin-right: 1%;
    text-transform: lowercase;
    /* color: rgb(255, 165, 115); */
}

.CFooter
{
    padding:10px;
    width: 960px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    /* border-top: 1px solid rgba(255, 255, 255, 0.25); */
    margin-bottom:0px;
}
.CFooter img{
    width: 32px;
    height: 32px;;
}

.CShown
{
    overflow: hidden;
    text-align: center;
    height: 20%;
}
.CHidden 
{
    position: absolute;
    left: -100%;
    opacity: 0;
}
.CShown p
{
    text-align: center;
    font-size:90%;
    color:rgba(255, 250, 240, 0.75)
}
.CShown img
{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    border-radius: 1.57%;
    min-height: 10%;
    max-width: 70%;
    max-height: 100%;
}
.CShown video{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    border-radius: 1.57%;
    min-height: 10%;
    max-width: 70%;
    max-height: 100%;
}

.CCenteredSmallDiv{
    clear:both;
    float: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} 
.CCenteredSmallDiv img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
}
.CCenteredSmallDiv a{
    text-transform: lowercase;
    /* color: rgb(251, 215, 194); */
}

.CCenteredSmallDiv_SansRoundedCorners{
    clear:both;
    float: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} 
.CCenteredSmallDiv_SansRoundedCorners img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    max-width: 50%;
    max-height: 50%;
}
.CCenteredSmallDiv_SansRoundedCorners a{
    text-transform: lowercase;
    /* color: rgb(251, 215, 194); */
}

.CCenteredTwoDivs
{
    clear:both;
    float:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;/*27%*/
    margin-top: 3%;
    padding: 1% 0% 5% 0%;
    width: 70%;
    max-height: 256px;
    height: 256px;
    border-bottom: 1px solid rgba(255, 250, 240,  0.065);

    /* background-color: rgba(247, 0, 255, 0.226); *//*Debug: show size*/
}
.CTwoDivsLeftAligned
{
    float: left;
    padding: 0% 3% 0% 3% ;
    position: absolute;

    /* background-color: red; *//*Debug: show size */
}
.CTwoDivsLeftAligned img
{
    width: 256px;
    height: 256px;
    border-radius: 3.14%;
    border-style: ridge;
    border-color: rgba(255, 250, 240, 0.445);
    border-width: 1px;
}
.CTwoDivsRightAligned
{
    clear:both;
    float:right;
    padding: 0% 3% 0% 3%;
    text-align: left;
    margin-top: 8%;
    position: relative;

    /* background-color: blue;*//*Debug: show size */
}
/* .CTwoDivsRightAligned p
{
    text-align: left;
    word-break: keep-all;
    max-width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
} */

.CCenteredSingleDiv
{
    clear:both;
    float: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-bottom: 1px solid rgba(255, 250, 240,  0.065);
}
.CCenteredSingleDiv img
{
    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 1.57%;
    max-width: 99%;
    max-height: 100%;
}
.CCenteredSingleDiv h3
{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}
.CCenteredSingleDiv p
{
    text-align: left;
    word-break:keep-all;
    max-width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.CCenteredSingleDiv iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
    max-height: 100%;
}


.CCenteredSingleDivNoBorder
{
    clear:both;
    float: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    text-align: center;
}

.CCenteredSingleDivSmall
{
    clear:both;
    float: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-bottom: 1px solid rgba(255, 250, 240, 0.065);
}
.CCenteredSingleDivSmall img
{
    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 1.57%;
    max-width: 76%;
    max-height: 100%;
}
.CCenteredSingleDivSmall h3
{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
}
.CCenteredSingleDivSmall p
{
    text-align: center;
    word-break:keep-all;
    max-width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.CCenteredSingleDivSmall iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
    max-height: 100%;
}
.CCenteredSingleDivSmall a
{
    color: rgb(255, 165, 115);
}

.CCenterBox{
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.CCenterBox h3{
    text-align: center;
    text-transform: uppercase;
}
.CCenterBox a{
    /* color: rgb(251, 215, 194); */
}
.CLeftBox {
    width: 47%;
    float:left;
    text-align: right;
    margin-top: 1%;
    margin-bottom: 1%;
    padding:1%;
}
.CRightBox {
    width: 47%;
    float:right;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
    padding:1%;
}

.CLinkColorOverride h3{
    color: rgb(255, 165, 115);
}